In [7]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [8]:
df = pd.read_csv('data.csv')

In [17]:
df

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0
...,...,...,...,...
5166,1518,ham,Subject: put the 10 on the ft\r\nthe transport...,0
5167,404,ham,Subject: 3 / 4 / 2000 and following noms\r\nhp...,0
5168,2933,ham,Subject: calpine daily gas nomination\r\n>\r\n...,0
5169,1409,ham,Subject: industrial worksheets for august 2000...,0
5170,4807,spam,Subject: important online banking alert\r\ndea...,1

In [15]:
data = df.where((pd.notnull(df)), '')

In [16]:
data.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5171 entries, 0 to 5170
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5171 non-null   int64
 1   label       5171 non-null   object
 2   text        5171 non-null   object
 3   label_num   5171 non-null   int64
dtypes: int64(2), object(2)
memory usage: 161.7+ KB

In [19]:
data.shape

(5171, 4)

In [20]:
X = data['text']
Y = data['label_num']

In [21]:
print(X)

0       Subject: enron methanol ; meter # : 988291\r\n...
1       Subject: hpl nom for january 9 , 2001\r\n( see...
2       Subject: neon retreat\r\nho ho ho , we ' re ar...
3       Subject: photoshop , windows , office . cheap ...
4       Subject: re : indian springs\r\nthis deal is t...
                              ...
5166    Subject: put the 10 on the ft\r\nthe transport...
5167    Subject: 3 / 4 / 2000 and following noms\r\nhp...
5168    Subject: calpine daily gas nomination\r\n>\r\n...
5169    Subject: industrial worksheets for august 2000...
5170    Subject: important online banking alert\r\ndea...
Name: text, Length: 5171, dtype: object

In [22]:
print(Y)

0       0
1       0
2       0
3       1
4       0
       ..
5166    0
5167    0
5168    0
5169    0
5170    1
Name: label_num, Length: 5171, dtype: int64

In [23]:
X_train , X_test, Y_train, Y_test = train_test_split(X,Y,test_size= 0.2,random_state = 3)

In [24]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(5171,)
(4136,)
(1035,)

In [25]:
print(Y.shape)
print(Y_train.shape)
print(Y_test.shape)

(5171,)
(4136,)
(1035,)

In [29]:
feature_extraction = TfidfVectorizer(min_df = 1, stop_words ='english', lowercase=True)
X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.fit_transform(X_test)
Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

In [30]:
print(X_train)

2209    Subject: hplc to wellhead\r\ndaren here is the...
2000    Subject: mobil chemical - hpl meter # 1256 - e...
5030    Subject: revised nom 5 / 5 - eastrans ; revise...
1376    Subject: re : exxon company , usa global # 960...
1564    Subject: your pharmacy nx\r\nwant a cheap pain...
                              ...
789     Subject: incr ' ease yo ' ur man ' hood by 4 -...
968     Subject: subscribers receive first notice on r...
1667    Subject: neon for march 28\r\nhere is the neon...
3321    Subject: re : first delivery - pure resources ...
1688    Subject: enhance your chest size\r\nemail is l...
Name: text, Length: 4136, dtype: object

In [31]:
print(X_train_features)

  (0, 3871)	0.13387711316973605
  (0, 531)	0.14556222812251962
  (0, 30451)	0.08468916670398006
  (0, 43273)	0.14556222812251962
  (0, 3890)	0.14556222812251962
  (0, 548)	0.14556222812251962
  (0, 37262)	0.11275796314501374
  (0, 2908)	0.11535664415295802
  (0, 456)	0.14556222812251962
  (0, 26297)	0.09506000151609588
  (0, 36190)	0.11400727959297847
  (0, 2478)	0.13872687405852518
  (0, 521)	0.14556222812251962
  (0, 16808)	0.11843023142166302
  (0, 22041)	0.13387711316973605
  (0, 2706)	0.14556222812251962
  (0, 522)	0.14556222812251962
  (0, 32060)	0.07311834410351341
  (0, 19411)	0.04211028825505044
  (0, 2537)	0.13872687405852518
  (0, 517)	0.14556222812251962
  (0, 19429)	0.14556222812251962
  (0, 16637)	0.24438399643390493
  (0, 3875)	0.14556222812251962
  (0, 836)	0.14556222812251962
  :	:
  (4135, 8873)	0.07154271542163933
  (4135, 16161)	0.07327358549803296
  (4135, 26936)	0.07154271542163933
  (4135, 15691)	0.07812310961344454
  (4135, 14167)	0.07812310961344454
  (4135, 11832)	0.07539199926380867
  (4135, 4961)	0.07539199926380867
  (4135, 7395)	0.07154271542163933
  (4135, 10238)	0.06669319130622776
  (4135, 29033)	0.057994383348646844
  (4135, 22458)	0.05353240292261735
  (4135, 14390)	0.05726375354549545
  (4135, 16537)	0.07154271542163933
  (4135, 42960)	0.06496232122983413
  (4135, 16217)	0.06769343157946998
  (4135, 26408)	0.046488819206390516
  (4135, 14282)	0.06669319130622776
  (4135, 27714)	0.031300464660012135
  (4135, 16475)	0.03146157037949769
  (4135, 38725)	0.04124090788006661
  (4135, 43426)	0.05920796972538574
  (4135, 20748)	0.05068335935369024
  (4135, 14513)	0.056585357723181545
  (4135, 36190)	0.06420243561903816
  (4135, 38946)	0.009493502067611905

In [ ]:
model e